<div class="about-container">

    <div class="about-column">
        <div id="about"></div>
        <div class="about-text">
        <h1>About me</h1>
        <p> My name is Karl Berglöf and i am currently studying front-end development at Nackademin.
            I have always been a creative person. Ever since i was a kid ive been interested with colors,
            shapes and beautiful lines. on my spare time i like to draw and create, front-end seemed like a really good way to
            further evolve my interests. To create a good-looking website togheter with HTML, CSS and Javascript
            is a very rewarding and interesting process. I constantly learn new things and i'm driven by development.    
            </p>
        </div>
        <div class="languages">
            <h2>Languages i speak</h2>
            <div>
                <ul>
                    <li>Javascript</li>
                    <li>Jquery</li>
                    <li>AnimeJS</li>
                    <li>CSS</li>
                    <li>Sass</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
        </div>
    </div>
</div>