<div class="about-container">

    <div class="about-column">
        <h1>About me</h1>
        <p>My name is Karl Berglöf and i am currently studying front-end development at Nackademin.
            I have always been a creative person. Lorem,
            ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis iste quod,
             error rem enim aperiam ipsum nisi ullam quis corrupti suscipit culpa officia distinctio corporis.
              Eveniet laudantium placeat assumenda delectus.
            
        </p>

    </div>
</div>