<div class="footer">
    <div class="foot-container">
        <div id="github">
            <a href="https://github.com/karber1">
                <img src="/assets/images/kisspng-computer-icons-github-github-logo-save-icon-format-5ab0fad15af349.5031683815215479853725.png" alt="">
            </a>
        </div>
        <div id="linkedIn">
            <a href="https://www.linkedin.com/in/karl-bergl%C3%B6f-2748b316b/">
                <img src="/assets/images/kisspng-linkedin-computer-icons-social-media-symbol-rmb-symbol-5ae178cf79dc85.5111369715247259674992.png" alt="">
            </a>
        </div>
    </div>

    <div class="foot-container">
        <div class="sign">
            <h2 class="sign2">Handcrafted by me!</h2>
            <div class="sign3">
                <p>made with </p>
                <img src="/assets/images/5848098dcef1014c0b5e4903.png" alt="">

            </div>
        </div>
    </div>
</div>