<div class="footer">
    <div class="foot-container">
        <div id="github">
            <a href="#">
                <img src="/assets/images/kisspng-computer-icons-github-github-logo-save-icon-format-5ab0fad15af349.5031683815215479853725.png" alt="">
            </a>
        </div>
        <div id="linkedIn">
            <a href="#">
                <img src="/assets/images/kisspng-linkedin-computer-icons-social-media-symbol-rmb-symbol-5ae178cf79dc85.5111369715247259674992.png" alt="">
            </a>
        </div>
    </div>

    <div class="foot-container">
        <div id="sign">
            <h2>Handcrafted by me!</h2>
            <div>
                <p>made with </p>
                <img src="/assets/images/5848098dcef1014c0b5e4903.png" alt="">

            </div>
        </div>
    </div>
</div>