<div class="home-container">

    <div id="home"></div>
    <div class="presentation">
            <h1 class="presentation-text">
                <span class="text-wrapper">
                    <span class="letters">Hello there!</span>
                </span>
            </h1>
                  
                  
            <h2 class="presentation-text2">
                <span class="text-wrapper">
                    <span class="letters">
                        Welcome to my portfolio
                    </span>
                </span>
            </h2>
    </div>

    <div class="character">
        <img src="/assets/images/thinker.svg" alt="">

    </div>
    
</div>