@media (max-width: 700px){

    .hamburger-splash{
        z-index: 0;
        position:fixed;
        top: 0px;
        right: 0px;
        width: 0vh;
        transition: 0.3s ease;
        z-index: 1;
        path{
            fill: teal;
            stroke: none;
        }
        
    }

    .hamburgerSplash-BG{
        width: 100vh;
    }


    .hamburger{
        position: fixed;
        top: 10px;
        right: 20px;
        z-index: 2;
        width: 50px;
        height: 50px;
        margin: 30px 0 20px 20px;
/*         background-color: teal;
        border-radius: 50%; */


        .bar{
            background-color: black;
            height: 5px;
            width: 70%;

            border-radius: 5px;
            transition: 0.3s ease;
        }
        #bar1{transform: translateY(-5px);}
        #bar2{}
        #bar3{transform: translateY(5px);}
    }

    .open .bar{
        background-color: orange;

    }

    .open #bar1{
        transform: translateY(4px) rotateZ(-45deg);
    }
    .open #bar2{
        opacity: 0;
    }
    .open #bar3{
        transform: translateY(-6px) rotate(45deg);
    }

    .nav-container{
        padding: 0;
        margin: 0 20px;
        transition: 0.3s ease;
        display: none;
        position: fixed;
        top: 20px;
        right: 40px;
        z-index: 2;

        div a{
            color: black;
            text-decoration: none;
            font-size: 4vh;
            &:hover{
                color: orange;
            }
        }
        #homeLink{
            
        }
        #aboutLink{
            
        }
        #contactLink{
            
        }
    }

    .open{
        display: block;
        }

        .background-head{
            height: 50vh;
            width: 100%;
            background-color: #B8AE7B;
            box-shadow: -1px 3px 12px -3px rgba(0,0,0,0.75);
            
        }

        .berglof{
            position: absolute;
            top: 40px;
            z-index: 0;
            fill: none;
        }

        @import "header-logo.scss";


}

@media (min-width: 701px){

    .hamburger-splash{
        z-index: 0;
        position:fixed;
        top: 0px;
        right: 0px;
        width: 0vh;
        transition: 0.3s ease;
        z-index: 1;
        path{
            fill: teal;
            stroke: none;
        }
        
    }

    .hamburgerSplash-BG{
        width: 100vh;
    }

           .hamburger{

            position: fixed;
            top: 10px;
            right: 20px;
            z-index: 2;
            width: 50px;
            height: 50px;
            margin: 30px 0 20px 20px;

            .bar{
                background-color: black;
                height: 5px;
                width: 70%;
    
                border-radius: 5px;
                transition: 0.3s ease;
            }
            #bar1{transform: translateY(-5px);}
            #bar3{transform: translateY(5px);}
        }

     .open .bar{
        background-color: orange;

    }

    .open #bar1{
        transform: translateY(4px) rotateZ(-45deg);
    }
    .open #bar2{
        opacity: 0;
    }
    .open #bar3{
        transform: translateY(-6px) rotate(45deg);
    }

    .nav-container{
        padding: 0;
        margin: 0 20px;
        transition: 0.3s ease;
        display: none;
        position: fixed;
        top: 20px;
        right: 40px;
        z-index: 2;

        div a{
            color: black;
            text-decoration: none;
            font-size: 4vh;
            &:hover{
                color: orange;
            }
        }
    }

    .open{
        display: block;
        }

    .background-head{
        height: 700px;
        width: 100%;
        background-color: #B8AE7B;
        box-shadow: -1px 3px 12px -3px rgba(0,0,0,0.75);
        }

        .berglof{
            position: absolute;
            width: 70%;
            fill:none;
            margin-left: 50%;
            transform: translateX(-50%);
            }

            @import "header-logo.scss"


} 
