@media (max-width: 700px) {
.home-container{
    margin: 5px;
    display:flex;
    background-color: #8DB37B;
    color: #565CB3;
    border-radius: 5px;
    padding: 15px;

    .presentation{

        h1{
            margin: 5px;
            font-size: 5vh;
        }
        h2{
            margin: 5px;
            font-size: 3vh;
            
        }
    }
    .character{
        background-color: teal;
        display:block;
        height: 200px;
        width: 200px;
        margin: 15px;
        border-radius: 50%;
        
        img{
            height: 300px;
        }
           
    }
}


}


@media (min-width: 701px){

} 