$backgroundColor: gray;
$bodyColor: #000000;
$bodyFont: 'Assistant', sans-serif;
$otherFont: 'Josefin Sans', sans-serif;


body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  margin: 0;

}

@import "header.scss";
@import "home.scss";
@import "about.scss";
@import "contact.scss";
@import "footer.scss";